<% content_for :content do %>
  <a href="http://www.wings.msn.to/" target="_blank">
    <img src="http://www.wings.msn.to/image/wings.jpg" />
  </a>
  <hr>
  <%= yield %>
  <hr>
  Copyright 1998-2017, Yamada Yoshihiro
<% end %>
<%= render template: 'layouts/application' %>
