<% msg = 'Hi。<strong>Rails</strong>はRubyベースのフレームワークです。Railsに影響を受けたフレームワークには、Catalystやsymfonyがあります。' %>
<h2>ノーマルタイプ</h2>
<%= highlight(msg, 'Rails') %>
<h2>複数の文字列指定タイプ</h2>
<%= highlight(msg, ['Rails', 'フレームワーク']) %>
